* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//color variable
$primary: #313BAC;
$white: #fff;
$dark: #010101;
$bg-color: #EDF2F8;
$yellow: #FFCA2C;
$grey: #B8B8B8;

body {
    background-color: #E5E5E5 !important;
    font-family: 'Poppins', sans-serif;
}

.vcard-one {
    &.main-content {
        max-width: 576px;
        min-height: 100vh;
        background-color: $white;
    }

    .vcard-one-heading {
        font-size: 28px;
        font-weight: 600;
        color: $primary;
    }
//banner
    &__banner {
        height: 226px;

        img {
            height: 226px;
            object-fit: cover;
            width: 100%;
        }

        .image-icon {
            img  {
                height: 20px;
                width: 25px;
            }
        }
    }


    .activeSlot{
        background-color:  #313BAC !important;
        color: white !important;
    }
//profile
    &__profile {
        .avatar {
            img {
                min-width: 240px;
                max-width: 240px;
                width: 240px;
                height: 240px;
                object-fit: cover;
            }
        }
    }
//profile details
    &__profile-details {
        margin-top: 111px;

        .profile-name {
            font-size: 28px !important;
            font-weight: 600;
            color: $dark;
        }

        .profile-designation {
            color: $grey;
            font-size: 20px;
        }

        .social-icons {
            a {
                width: 20%;
                display: flex;
                justify-content: center;
                margin: 0 0 20px;
                text-decoration: none;
            }

            .icon {
                color: $grey;
                cursor: pointer;
                transition: all 0.3s ease;
            }

            .facebook-icon {
                &:hover {
                    color: #1B95E0;
                }
            }

            .youtube-icon {
                &:hover {
                    color: #ff0000;
                }
            }

            .pinterest-icon {
                &:hover {
                    color: #bd081c;
                }
            }

            .reddit-icon {
                &:hover {
                    color: #ff4500;
                }
            }

            .instagram-icon, {
                &:hover {
                    color: #F58EA9;
                }
            }

            .linkedin-icon {
                &:hover {
                    color: #1B95E0;
                }
            }

            .whatsapp-icon {
                &:hover {
                    color: #1AD086;
                }
            }

            .twitter-icon {
                &:hover {
                    color: #1DA1F3;
                }
            }

            .tumblr-icon {
                &:hover {
                    color: #35465d;
                }
            }

            .globe-africa-icon {
                &:hover {
                    color: #557b97;
                }
            }

            .tiktok-icon {
                &:hover {
                    color: #28ffff;
                }
            }
        }
    }
//event
    &__event {
        .event-card {
            .event-name {
                font-weight: 500;
                font-size: 18px;
                color: $dark;
            }
        }
    }

    //appointment
    &__appointment {

        .appointment-one {
            background: #fff;
            box-shadow: 0 0 6px rgb(0 0 0 / 25%);
            border-radius: 10px;
            padding: 20px;

            .appoint-date {
                font-size: 16px;
            }

            .appoint-input {
                font-size: 11px;
                text-align: center;
                font-weight: 500;
                padding: 10px 0;
                border: none;
                display: block;
                width: 100%;
                box-sizing: border-box;
                margin: 0;
                border-radius: 10px;
                background-color: #EDF2F8;

                &:focus {
                    border-color: #EDF2F8 !important;
                }

                &:focus-visible {
                    outline: none;
                }

                &::placeholder {
                    color: #212529;
                }
            }

            .appoint-btn {
                padding: 10px 20px;
                background: $primary;
                border: none;
                outline: none;
                border-radius: 5px;
                transition: all 0.3s ease;
                width: fit-content;

                &:hover {
                    background-color: transparentize($primary, 0.1);
                }

                @media (max-width: 335px) {
                    font-size: 14px;
                }
            }
        }
    }

    //service
    &__service {
        background-image: url("../../assets/img/vcard1/vcard-one-bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        .service-card {
            background: transparent;
            text-align: center;

            a {
                margin: auto;
            }

            .service-new-image {
                width: auto;
                height: 25vh;
                object-fit: cover;
                border-radius: 0.5rem;
            }

            .card-body {

                .title-text {
                    color: #535aae;
                }

                .description-text {
                    color: #6b6fa2;
                }

            }

            .service-image {
                min-width: 70px;
                max-width: 70px;
                height: 70px;
                background: linear-gradient(151.23deg, #A1BFFC 14.23%, #A7DEF3 87.45%);
                object-fit: cover;

                img {
                    max-width: 35px;
                    max-height: 40px;
                    height: auto;
                    width: auto;
                    object-fit: cover;
                }
            }

            .service-details {
                .service-title {
                    font-weight: 500;
                    font-size: 18px;
                    color: $dark;
                }

                .service-paragraph {
                    font-weight: 450;
                    font-size: 12px;
                    color: $dark;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: initial;
                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                    width: 160px;
                }
            }
        }
    }

    //gallery
    &__gallery {
        .gallery-slider {
            .slick-track {
                display: flex !important;
            }

            .slick-slide {
                margin: 0 17px;
                display: flex;
                height: auto;
            }

            .slick-list {
                padding: 30px 0;
                overflow: visible;
            }

            .slick-dots {
                bottom: -5px;
            }
        }
        .gallery-card {
            background: $white;
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
            border-radius: 10px;

            .gallery-profile {
                img {
                    object-fit: cover;
                    height: 238px;
                }

                .gallery-link {
                    &:focus-visible {
                        outline: none;
                    }
                }

                .gallery-item {
                    display: inline-block;
                    width: 100%;
                    height: 238px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    border-radius: 3px;
                    cursor: pointer;
                    transition: all 0.5s;
                    position: relative;
                }
            }
        }
    }

    //Product
    &__product {
        .product-slider {
            .slick-track {
                display: flex !important;
            }

            .slick-slide {
                margin: 0 17px;
                display: flex;
                height: auto;

                 div{
                     height: 100%;
                     width: 100%;
                 }
            }

            .slick-list {
                padding: 30px 0;
                overflow: visible;
            }

            .slick-dots {
                bottom: -5px;
            }
        }

        .product-card {
            background: $white;
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
            border-radius: 10px;

            .product-profile {
                img {
                    object-fit: cover;
                }
            }

            .product-details {
                margin-top: 20px !important;

                h4 {
                    font-weight: 500;
                    font-size: 18px;
                    color: $dark;
                }

                span {
                    font-weight: 500;
                    font-size: 14px;
                    //color: $grey;
                }

                p {
                    font-size: 14px;
                    font-weight: 400;
                    color: $dark;
                    display: -webkit-box;
                    //-webkit-line-clamp: 6;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }

            .review-star {
                .star-icon {
                    color: $yellow;
                }
            }
        }
    }

    //testimonial
    &__testimonial {
        .testimonial-slider {
            .slick-track {
                display: flex !important;
            }

            .slick-slide {
                margin: 0 17px;
                display: flex;
                height: auto;
            }

            .slick-list {
                padding: 30px 0;
                overflow: visible;
            }

            .slick-dots {
                bottom: -5px;
            }
        }

        .testimonial-card {
            background: $white;
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            min-height: 196px;

            .testimonial-profile {
                img {
                    min-width: 80px;
                    max-width: 80px;
                    height: 80px;
                    object-fit: cover;
                }
            }

            .testimonial-details {
                margin-top: 40px !important;

                h4 {
                    font-weight: 500;
                    font-size: 18px;
                    color: $dark;
                }

                span {
                    font-weight: 500;
                    font-size: 14px;
                    //color: $grey;
                }

                p {
                    font-size: 14px;
                    font-weight: 400;
                    color: $dark;
                    display: -webkit-box;
                    //-webkit-line-clamp: 6;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }

            .review-star {
                .star-icon {
                    color: $yellow;
                }
            }
        }
    }

    //blog
    &__blog {
        .blog-slider {
            .slick-track {
                display: flex !important;
            }

            .slick-slide {
                margin: 0 17px;
                display: flex;
                height: auto;

                div{
                    width: 100%;
                }
            }

            .slick-list {
                padding: 30px 0;
                overflow: visible;
            }

            .slick-dots {
                bottom: -5px;
            }

            .blog-card {
                background: #fff;
                box-shadow: 0 0 6px rgb(0 0 0 / 25%);
                border-radius: 10px;
                display: flex;
                flex-direction: row;

                .blog-image {
                    height: 200px;
                    display: flex;
                    align-items: center;

                    @media (min-width: 576px) {
                        width: 200px;
                    }

                    @media (max-width: 575px) {
                        justify-content: center;
                    }

                    img {
                        height: 200px;
                        width: 200px;
                        min-width: 100%;
                        object-fit: cover;

                        @media (max-width: 575px) {
                            width: 100%;
                            min-width: 100%;
                            height: 200px;
                            margin: auto;
                        }
                    }
                }

                .blog-details {
                    p {
                        display: -webkit-box;
                        overflow: hidden;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 6;
                        max-width: 100%;
                    }
                    a {
                        h4 {
                            color: #313BAC !important;
                        }
                    }
                }
            }
        }
    }

    .slick-dots {
        > li {
            display: inline-block;
        }

        > li:only-child {
            display: none;
        }
    }

    //qr code
    &__qr-code {
        background-image: url("../../assets/img/vcard1/vcard-one-bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        .qr-code {
            max-width: 286px;

            .qr-code-profile {
                img {
                    max-width: 80px;
                    min-width: 80px;
                    height: 80px;
                    object-fit: cover;
                }
            }

            .qr-code-image {
                img {
                    max-width: 146px;
                    min-width: 146px;
                    height: 146px;
                    object-fit: cover;
                }
            }
        }

        .qr-code-btn {
            padding: 10px 20px;
            background: $primary;
            border: none;
            outline: none;
            border-radius: 5px;
            transition: all 0.3s ease;
            width: fit-content;

            &:hover {
                background-color: transparentize($primary, 0.1);
            }
        }
    }

    //Share btn
    .share-btn {
        a {
            padding: 10px 20px;
            background: $primary;
            border: none;
            outline: none;
            border-radius: 5px;
            transition: all 0.3s ease;
            width: fit-content;
            font-size: 15px;

            &:hover {
                background-color: transparentize($primary, 0.1);
            }
        }

        @media (max-width: 575px) {
            margin: 0 auto;
        }
    }

    //business time
    &__timing {
        .business-card {
            padding: 20px !important;
            background-color: $bg-color;
            border: none;
            border-radius: 15px;
            @media (max-width: 575px) {
                padding: 15px !important;

            }
            .calendar-icon{
                background-color: $primary;
                border-radius: 12px;
            }
        }
        .business-card-today {
            border: 1px solid $primary;
        }
    }
//contact
    &__contact {
        background-image: url("../../assets/img/vcard1/vcard-one-bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        .contact-form {
            label {
                color: $primary;
            }

            .input-group {
                .input-group-text {
                    border-color: #b8b8b8;
                    background-color: transparent;
                }
            }

            input, textarea {
                border-color: #b8b8b8;
                background-color: transparent;

                &:focus {
                    box-shadow: none;
                    border-color: #b8b8b8;
                }
            }

            .contact-btn {
                padding: 10px 20px;
                background: $primary;
                border: none;
                outline: none;
                border-radius: 5px;
                transition: all 0.3s ease;

                &:hover {
                    background-color: transparentize($primary, 0.1);
                }
            }
        }
    }

    //language btn
    .language {

        ul {
            list-style: none;

            .lang-list {
                padding: 10px 20px;
                background: #313BAC;
                border: none;
                outline: none;
                border-radius: 5px;
                transition: all 0.3s ease;
                width: -moz-fit-content;
                width: fit-content;

                .lang-head {
                    color: white;

                    i {
                        color: white;
                    }
                }

                .lang-hover-list {
                    margin: 15px 0 0;
                    font-size: 15px;
                    width: 115%;
                    left: unset !important;
                    right: 0;
                    min-width: 150px;

                    li {
                        padding: 5px 15px;

                        &:hover {
                            background-color: #f1faff !important;


                            a {
                                color: #009ef7 !important;
                            }
                        }

                        &.active {
                            background-color: #f1faff !important;

                            a {
                                color: #009ef7 !important;
                            }
                        }

                        a {
                            color: #5e6278 !important;
                            text-decoration: none;
                        }

                        img {
                            height: 20px !important;
                            width: 25px !important;
                        }
                    }
                }
            }
        }
    }

}
.vcard1-sticky-btn {
    background: $primary;
    color:white;
}
//Download Button
.vcard-one-btn {
    padding: 10px 20px;
    background: $primary;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-size: 15px;

    i {
        color: $white;
    }

    &:hover {
        background-color: transparentize($primary, 0.1);
    }

    @media (max-width: 575px) {
        margin: 0 auto;
    }
    .language {


        ul {
            list-style: none;


            .lang-list {
                padding: 10px 20px;
                background: #313BAC;
                border: none;
                outline: none;
                border-radius: 5px;
                transition: all 0.3s ease;
                width: -moz-fit-content;
                width: fit-content;


                .lang-head {
                    color: white;


                    i {
                        color: white;
                    }
                }


                .lang-hover-list {
                    margin: 15px 0 0;
                    font-size: 15px;
                    width: 100%;


                    li {
                        padding: 5px 15px;


                        &:hover {
                            background-color: #f1faff !important;


                            a {
                                color: #009ef7 !important;
                            }
                        }


                        a {
                            color: #5e6278 !important;
                        }
                    }
                }
            }
        }
    }
}

.btn-check {
    &:focus+.btn {
        outline: unset !important;
        box-shadow: unset !important;
    }
}
.btn {
    &:focus {
        outline: unset !important;
        box-shadow:  unset !important;
    }
}
.product-block {
    //height: 208px !important;
    width: 252px !important;
    //max-height: 208px !important;
    max-width: 252px !important;
}

.gallery-vcard-block {
    height: 254px !important;
    width: 254px !important;
    max-height: 254px !important;
    max-width: 254px !important;
    object-fit: cover !important;
}
.slick-slide div{
    width: 100%;
}

.gallery-profile {
    img {
        height: 227px !important;
    }
    a {
        .gallery-item {
            height: 222px !important;
        }
    }

}


.vcard-one{
    .language ul {
        .lang-list {
            .lang-hover-list {
                margin: 0 0 0;
                &.top-dropdown {
                    margin: -80px 0 0;
                }
            }
        }
    }
}

.vcard-one__blog {
    .blog-slider {
        .blog-card {
            @media (max-width: 575px) {
                height: 295px !important;
            }
        }
    }
}

.terms-policies-section {
    height: 100%;

    .vcard-one__contact {
        height: 100%;
    }
}

@media (min-width: 350px) and (max-width: 573px) {
    .gallery-vcard-position {
        display: inline-flex !important;
        align-items: center !important;
        justify-content: center !important;
    }
}
.py-5{
    height: 100% !important;
}
.profile-description{
    font-size: 17px;
    text-align: center;
    color: #6c757d!important;
}


#wrap{
    background-color: #ddd;
    padding: 50px 0;
}
#slider{
    width: 500px;
    margin: 0 auto;
    img{
        width: 100%;
    }
}
button{
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.prev-arrow{
    z-index:999;
    left: 176px;
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 11px solid #113463;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    @media (max-width:575px) {
        left:40px;
    }
}
.next-arrow{
    z-index:99;
    right: 176px;
    width: 0;
    height: 0;
    border-right: 0 solid transparent;
    border-left: 11px solid #113463;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    @media (max-width:575px) {
        right:40px;
    }
}

.slide-arrow-testimonial {
    position: absolute;
    //top:95%;
    bottom: 0;
    width: 15px !important
}
@media (min-width:360px) and (max-width:640px) {
.testimonial-margin{
    display : flex !important;
    justify-content: center !important;
}
}

@media (min-width:540px) and (max-width:720px) {
    .testimonial-margin{
        display : flex !important;
        justify-content: center !important;
    }
}

.vcard-one__gallery .gallery-slider .slick-list {
    margin-bottom: 30px;
    height: 100%;
    padding: 30px 0;
    overflow: visible;
}
.slide-arrow {
    position: absolute;
    top: 88%;
    width: 15px !important;
}
.product-slide-arrow {
    position: absolute;
    top: 91%;
    width: 15px !important;
}
.vcard-one__gallery .gallery-slider .slick-dots {
    bottom: 4px;
}

.vcard-one__product .product-slider .slick-list {
    padding: 30px 0;
    overflow: visible;
    margin-bottom: 30px;
}
.vcard-one__product .product-slider .slick-dots {
    bottom: 1px;
}

.vcard-one__testimonial .testimonial-slider .slick-list {
    min-height: 240px !important;
    height: auto !important;
    padding: 30px 0;
    overflow: visible;
    margin-bottom: 30px;
}
.vcard-one__testimonial .testimonial-slider .slick-dots {
    bottom: 1px;
}
.vcard-one__blog .blog-slider .slick-list{
    margin-bottom: 20px !important;
}
.vcard-one__blog .blog-slider .slick-dots {
    bottom: 4px;
}

.lb-data .lb-number {
    display: none !important;
}
