.testimonials-section .slick-track {
  padding-top: 0;
}
.testimonials-section .slick-slider1 .element {
  position: relative;
  width: 476px !important;
  height: 300px;
}
.testimonials-section .slick-slider1 .element .search {
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 0 0 0 5px;
  z-index: 10;
  transition: all 200ms linear;
  background-image: linear-gradient(123.62deg, #f59c37 0%, #fd5479 100%);
}
.testimonials-section .slick-slider1 .element .search a {
  -webkit-text-fill-color: #ffffff;
  color: #ffffff !important;
}
.testimonials-section .slick-slider1 .element:hover .search {
  top: 0;
}
